*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
.bg-img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

#cards-container{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    position: relative;
    width: 21%;
    height: 30%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 1s;
}


.front-img, .back-img{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
}

.front-img, .flip{
    transform: rotateY(180deg);
}